// Global Variable

$primary-color: lightblue;
$secondary-color: salmon;
$text-color: blue;

// Map

$alert: (
  "danger": red,
  "success": green,
  "warning": orange,
);

body {
  // Variable Local
  // $primary-color: lightgreen;

  // Change to Global Variable
  $primary-color: gray !global;
  background-color: $primary-color;
}

.container {
  background-color: $secondary-color;
  padding: 1rem;
}

h1 {
  color: map-get($alert, "success");
}
